<form class="flexiContactForm" role="form"
data-request="onMailSent"
    <div class="form-groups">
        <div class="form-group">
            <input type="text" class="form-control" value=""  name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <textarea class="form-control" value="" name="content" placeholder="Enter Message" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg pull-right">Küldés</button>
    </div>
</form>
